# Ignorar node_modules
client/node_modules/
server/node_modules/

# Ignorar arquivos de configuração local
client/.env
server/.env

# Ignorar logs e arquivos de sistema
*.log
.DS_Store
Thumbs.db

# Ignorar arquivos de build
client/build/
server/dist/

# Ignorar arquivos de IDE/Editor
.vscode/
.idea/